annotated-types==0.6.0
blinker==1.7.0
click==8.1.7
Flask==3.0.2
flask-openapi3==3.0.2
itsdangerous==2.1.2
Jinja2==3.1.6
MarkupSafe==2.1.5
pydantic==2.6.1
pydantic_core==2.16.2
typing_extensions==4.9.0
Werkzeug==3.0.6
